<!doctype html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <title>String Manipulator</title>
</head>

<body>
  <h1>Obligatorisk Opgave</h1>
  <h2>String Manipulator</h2>
  <div id="app">
    <input v-model="myString" placeholder="Type a string">
    <select v-model="caseSelector">
      <option value="ToUpper">To Uppercase</option>
      <option value="ToLower">To Lowercase</option>
    </select>
    <button v-on:click="ConvertString()">Convert string</button>
    <div>{{theString}}</div>
  </div>

  <script src="bundle.js"></script>
</body>

</html>
